.navbar {
  width: rem(80);
  height: 100vh;
  inset: 0;
  position: fixed;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-9)
  );
  padding: 20px 0px;
}

.link {
  width: rem(50);
  margin: rem(-3);
  margin-top: rem(5);
  height: rem(50);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));
  }
}
